@model WebOdev.Models.Ucak

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ucak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UcakAdi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UcakAdi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KoltukSayisi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KoltukSayisi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.doluKoltukSayisi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.doluKoltukSayisi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UcakId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
