@model Web12412412.Models.Ucus

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ucus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nereden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nereden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nereye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nereye)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GidisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GidisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonusTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonusTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KalkisSaat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KalkisSaat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VarisSaat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VarisSaat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doluKoltukSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doluKoltukSayisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ucak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ucak.UcakAdi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UcusId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
