@{
    ViewData["Title"] = "Uçaklar";
    Layout = "_Layout";
}

<h2>Uçaklar</h2>

<table class="table">
    <thead>
        <tr>
            <th>Uçak ID</th>
            <th>Model</th>
            <th>Koltuk Sayısı</th>
            <th>Güzergahlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ucak in Model)
        {
            <tr>
                <td>@ucak.UcakId</td>
                <td>@ucak.Model</td>
                <td>@ucak.KoltukSayisi</td>
                <td>
                    @foreach (var guzergah in ucak.Guzergahlar)
                    {
                        <span>@guzergah.Baslangic - @guzergah.Varis</span>

                        <br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
