@model Web12412412.Models.Bilet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bilet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KalkisYeri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KalkisYeri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VarisYeri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VarisYeri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GidisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GidisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonusTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonusTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KalkisSaat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KalkisSaat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ucak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ucak.UcakAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KoltukNumarasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoltukNumarasi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BiletId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
